{% extends 'base.html' %}

{% block subtitle %}Password Reset Confirm{% endblock %}

{% block content %}
    <div class="row">
        <div class="col col-sm-10 offset-sm-1 col-md-8 offset-md-2 col-lg-6 offset-lg-3">
            <h1>Password Reset Confirm</h1>
            <hr>

            {% if validlink %}
                {% include '_form.html' with form=form submit_text='送出' %}
            {% else %}
                <p>The link was expired, click <a href=" {% url 'users:password_reset' %}">here</a> to create a new one.</p>    
            {% endif %}
            
        </div>
    </div>
{% endblock %}
