{% extends "base.html" %}

{% block subtitle %}Profile{% endblock subtitle %}

{% block content %}
    <div class="row">
        <div class="col">
            <h1>Profile</h1>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col">    
            <a href="{% url 'users:password_change' %}" class="btn btn-outline-info mb-2 float-end">編輯密碼</a>
        </div>
    </div>
    <div class="row">
        {% include "_form.html" with form=form %}
        </div>
    </div> 
{% endblock content %}
